@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.anton-font {
    font-family: 'Anton', sans-serif;
}

@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.e4manro {
    font-family: 'GongGothicMedium';
}

body {
    background-color: #0f0f0f;
}

.display-container {
    max-width: 415px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
}

.main {
    min-height: 100vh;
    position: relative;
}

.main video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


/* 글리치 */

.glitch {
    position: relative;
    font-size: 80px;
    line-height: 1.2;
    color: #fff;
    z-index: 1;
    letter-spacing: 5px;
}

.glitch:before,
.glitch:after {
    display: block;
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}

.glitch:before {
    animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #0ff;
    z-index: -1;
}

.glitch:after {
    animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: #f0f;
    z-index: -2;
}

@keyframes glitch-color {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-3px, 3px);
    }
    40% {
        transform: translate(-3px, -3px);
    }
    60% {
        transform: translate(3px, 3px);
    }
    80% {
        transform: translate(3px, -3px);
    }
    to {
        transform: translate(0);
    }
}

.sub-title {
    text-shadow: 3px 3px 3px black;
}

.btn-main {
    position: relative;
    z-index: 1;
    filter: drop-shadow(0px 0px 8px #fff);
}


/* default btn */

.island_btn {
    background-color: black;
    clip-path: polygon(100.3% 0%, 99.7% 70%, 89.4% 101%, 0% 101%, 0% 33%, 12.9% 0%);
    width: 98%;
    height: 100%;
}

.island_btn_out {
    clip-path: polygon(100.3% 0%, 99.7% 70%, 89.4% 101%, 0% 101%, 0% 33%, 12.9% 0%);
    width: 100%;
    height: 110%;
    position: absolute;
    z-index: -1;
}

.island_btn:hover {
    color: #fff;
    transition: 0.3s;
}


/* waterIsland_btn */

.water {
    color: #6bc6dd;
}

.water_out {
    background-color: #6bc6dd;
}

.water:hover {
    color: #fff;
    background-color: #55d6f6;
}


/* Romantic Island btn */

.romantic {
    color: #c62b6b;
}

.romantic_out {
    background-color: #c62b6b;
}

.romantic:hover {
    color: #fff;
    background-color: #e43a81;
}


/* garden Island */

.garden {
    color: #287e3a;
}

.garden_out {
    background-color: #287e3a;
}

.garden:hover {
    color: #fff;
    background-color: #29a844;
}