@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.anton-font {
    font-family: 'Anton', sans-serif;
}

@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.e4manro {
    font-family: 'GongGothicMedium';
}

body {
    background-color: #0f0f0f;
}

.display-container {
    max-width: 415px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
}

.main {
    min-height: 100vh;
    position: relative;
}

.main video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


/* 글리치 */

.glitch {
    position: relative;
    font-size: 80px;
    line-height: 1.2;
    color: #fff;
    z-index: 1;
    letter-spacing: 5px;
}

.glitch:before,
.glitch:after {
    display: block;
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}

.glitch:before {
    animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #0ff;
    z-index: -1;
}

.glitch:after {
    animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: #f0f;
    z-index: -2;
}

@keyframes glitch-color {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-3px, 3px);
    }
    40% {
        transform: translate(-3px, -3px);
    }
    60% {
        transform: translate(3px, 3px);
    }
    80% {
        transform: translate(3px, -3px);
    }
    to {
        transform: translate(0);
    }
}

.sub-title {
    text-shadow: 3px 3px 3px black;
}