@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.anton-font {
    font-family: 'Anton', sans-serif;
}

@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.e4manro {
    font-family: 'GongGothicMedium';
}

body {
    background-color: #0f0f0f;
}

.display-container {
    box-shadow: 0 0 15px 0 hsla(0, 0%, 100%, .75);
    max-width: 415px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
}

.display-containernav {
    box-shadow: 0 0 15px 0 hsla(0, 0%, 100%, .75);
    max-width: 415px;
    margin-left: auto;
    margin-right: auto;
}

.main {
    min-height: 100vh;
    position: relative;
}

.main video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


/* 글리치 */

.glitch {
    position: relative;
    font-size: 80px;
    line-height: 1.2;
    color: #fff;
    z-index: 1;
    letter-spacing: 5px;
}

.glitch:before,
.glitch:after {
    display: block;
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}

.glitch:before {
    animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #0ff;
    z-index: -1;
}

.glitch:after {
    animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: #f0f;
    z-index: -2;
}

@keyframes glitch-color {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-3px, 3px);
    }
    40% {
        transform: translate(-3px, -3px);
    }
    60% {
        transform: translate(3px, 3px);
    }
    80% {
        transform: translate(3px, -3px);
    }
    to {
        transform: translate(0);
    }
}

.sub-title {
    text-shadow: 3px 3px 3px black;
}

.btn-main {
    position: relative;
    z-index: 1;
    filter: drop-shadow(0px 0px 8px #fff);
}


/* default btn */

.island_btn {
    background-color: black;
    clip-path: polygon(100.3% 0%, 99.7% 70%, 89.4% 101%, 0% 101%, 0% 33%, 12.9% 0%);
    width: 98%;
    height: 100%;
}

.island_btn_out {
    clip-path: polygon(100.3% 0%, 99.7% 70%, 89.4% 101%, 0% 101%, 0% 33%, 12.9% 0%);
    width: 100%;
    height: 110%;
    position: absolute;
    z-index: -1;
}

.island_btn:hover {
    color: #fff;
    transition: 0.3s;
}


/* waterIsland_btn */

.water {
    color: #6bc6dd;
}

.water_out {
    background-color: #6bc6dd;
}

.water:hover {
    color: #fff;
    background-color: #55d6f6;
}


/* Romantic Island btn */

.romantic {
    color: #c62b6b;
}

.romantic_out {
    background-color: #c62b6b;
}

.romantic:hover {
    color: #fff;
    background-color: #e43a81;
}


/* garden Island */

.garden {
    color: #287e3a;
}

.garden_out {
    background-color: #287e3a;
}

.garden:hover {
    color: #fff;
    background-color: #29a844;
}

.footer_arrow {
    position: absolute;
    bottom: 0;
    margin-bottom: 35px;
}

.footer_arrow p {
    font-size: 12px;
    color: #fff;
    text-shadow: 2px 2px 5px black;
    margin-bottom: 5px;
}

.footer_arrow img {
    width: auto;
    height: 40px;
    filter: drop-shadow(2px 2px 5px #000000);
}

.allbtn {
    margin-top: 40px;
}


/* hamburger */

.checkbox {
    display: none;
}

.button {
    position: relative;
    background-color: #6bc6dd;
    height: 3rem;
    width: 3rem;
    border-radius: 10px;
    /* position: fixed;
    top: 20px;
    right: 580px; */
    z-index: 2000;
    box-shadow: 0 1rem 3rem black;
    text-align: center;
    cursor: pointer;
}

.nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: -60vw;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s;
}

.list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
}

.item {
    margin: 1rem;
    font-size: 36px;
}

.link:link,
.link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient( 120deg, transparent 0%, transparent 50%, white 50%);
    background-size: 220%;
    transition: all 0.4s;
}

.link:hover,
.link:active {
    color: lightgreen;
    cursor: pointer;
}


/* functionality */

.checkbox:checked~.background {
    transform: scale(80);
}

.checkbox:checked~.nav {
    opacity: 1;
    width: 100%;
    right: 0;
}


/*  */


/* styling hamb ICON */

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon,
.icon::before,
.icon::after {
    width: 2rem;
    height: 2px;
    background-color: black;
    display: inline-block;
}

.icon::before,
.icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
}

.icon::before {
    top: -0.8rem;
}

.icon::after {
    top: 0.8rem;
}

.button:hover icon:before {
    top: -1rem;
}

.button:hover icon::after {
    top: 1rem;
}

.checkbox:checked+.button .icon {
    background-color: transparent;
}

.checkbox:checked+.button .icon::before {
    top: 0;
    transform: rotate(135deg);
}

.checkbox:checked+.button .icon::after {
    top: 0;
    transform: rotate(-135deg);
}

.navlink a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.logoimg {
    margin-right: 125px;
}

.hihi {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 20px;
    z-index: 1030;
    width: 100%;
}

.hamburger {
    margin-left: 125px;
}