@font-face {
    font-family: 'LOTTERIADDAG';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIADDAG.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.ddag_font {
    font-family: 'LOTTERIADDAG';
}

body {
    background-color: #0f0f0f;
}

.display-container {
    box-shadow: 0 0 15px 0 hsla(0, 0%, 100%, .75);
    max-width: 415px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    background-image: url('./artist_img/waterback.png');
    background-size: cover;
}


/* nav */

nav {
    width: 415px;
    margin: 0 auto;
    background-image: url('./artist_img/waterback.png');
    background-size: cover;
}


/* 버튼 */

.day {
    border-bottom: 5px solid black;
    font-size: 20px;
    color: white;
}

.DayUnAct {
    border-bottom: 5px solid rgb(0, 0, 0, 0.5);
    color: rgb(255, 255, 255, 0.8);
}

.day a {
    text-decoration: none;
    color: inherit
}


/* 아티스트 이미지 */

.artist_section {
    padding-top: 85px;
}

.artist {
    position: relative;
}

.artist_img img {
    width: 280px;
    margin-right: 50px;
}

.artist_name {
    font-size: 60px;
    position: absolute;
    right: 38px;
    bottom: 63px;
    text-shadow: 2px 2px #6BC6DD;
}

.artist_time {
    font-size: 30px;
    position: absolute;
    right: 40px;
    bottom: 37px;
    text-shadow: 2px 2px #6BC6DD;
}


/*artist_right*/

.artist_img_r img {
    width: 280px;
    margin-left: 50px;
}

.artist_name_r {
    font-size: 60px;
    position: absolute;
    left: 38px;
    bottom: 63px;
    text-shadow: 2px 2px #6BC6DD;
}

.artist_time_r {
    font-size: 30px;
    position: absolute;
    left: 40px;
    bottom: 37px;
    text-shadow: 2px 2px #6BC6DD;
}